{% extends 'layout.html' %}
{%block table%}

{%endblock table%}
{% block content %}
<h1 class="site__title">This CRUD app is made with Hospital as Real-Life Example Scenario </h1>
			  <h2 class="site__subtitle">Below are the collections available</h2>
			  <div class="site__box-link">
    {% for i in colList%}
    <a href="{{url_for('create',value=i)}}" class="btn btn--width  form__field">{{i}}</a>

    {% endfor %}
    <br>
    <br>

  </div>
  <img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">

 {% endblock content %}

